<div *ngIf="recipe">
  <div class="row">
    <div class="col-xs-12">
      <img
              [src]="recipe.imagePath"
              alt="{{ recipe.name }}"
              class="img-responsive"
              style="max-height: 300px"
      >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" type="button" style="cursor:pointer;" (click)="onAddToShoppingList()">To Shopping List</button>
      <a class="btn btn-primary" type="button" style="cursor:pointer;" [routerLink]="['edit']" >Edit Recipe</a>
      <button class="btn btn-danger" type="button" style="cursor:pointer;" (click)="onDelete()">Delete Recipe</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>
</div>